.button {
  border: none;
  border-radius: 4px;
  font-weight: 600;
  padding: 12px 20px;

  &--yellow {
    background-color: $yellow-1;
    color: $yellow-2;
  }

  &--blue {
    background-color: $blue-3;
    color: $blue-2;
  }

  &--primary {
    background-color: $blue-2;
    color: $white-color;
  }

  &--link {
    background-color: transparent;
    color: $text-color;
    text-decoration: underline;
  }

  &--large {
    padding: 16px 50px;
  }
}
