.page-intro {
  margin-top: 100px;
  width: 400px;
  display: flex;
  flex-direction: column;

  &__headline {
    color: $blue-1;
    font-weight: 400;
    > b {
      font-weight: 600;
      line-height: 150%;
    }
  }

  &__tagline {
    font-size: $fs-3;
    line-height: 30px;
    width: 350px;
    margin-bottom: 30px;
  }

  &__note {
    background-color: $gray-1;
    border-radius: 11px;
  }
}
