.sign-up { }

.sign-up__step {
  display: flex;
  margin-bottom: 15px;
}

.sign-up__step-position {
  width: 32px;
  margin-right: 30px;
}

.sign-up__position-nr {
  line-height: 2em;
  font-weight: 600;
  color: #CEA000;
  width: 32px;
  height: 32px;
  background-color: #FFF2C6;
  text-align: center;
}

.sign-up__step-headline {
  color: black;
  margin-top: 0;
  font-size: 18px;
  line-height: 22px;
}

.sign-up__arrow {
  display: block;
  margin: 10px auto;
}

.sign-up__step-content { }
