.sign-up {

  &__step {
    display: flex;
    margin-bottom: 15px;
  }

  &__step-position {
    width: 32px;
    margin-right: 30px;
  }

  &__position-nr {
    line-height: 2.4em;
    font-weight: 600;
    color: $yellow-2;
    width: 32px;
    height: 32px;
    background-color: $yellow-1;
    text-align: center;
  }

  &__step-headline {
    color: $black-color;
    margin-top: 0;
    font-size: $fs-2;
    line-height: 22px;
  }

  &__arrow {
    display: block;
    margin: 10px auto;
  }

}
