.text-box {

  &__headline {
    &--small {
      margin: 46px 0 10px 0;
      font-size: $fs-2;
    }
  }

  &__link {
    font-weight: 600;
    text-decoration: none;
    color: $brand-primary;
  }

  &__arrow {
    margin-left: 5px;
  }
}
