.text-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  &__image {
    //width: 50%;
    //flex: 1 1 auto;
  }

  &__text {
    width: 380px;
  }

  &--image-right {
    flex-direction: row-reverse;
  }
}

