.text-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.text-image-wrapper--image-right {
  flex-direction: row-reverse;
}

.text-image-wrapper__image {
  //width: 50%;
  //flex: 1 1 auto;
}

.text-image-wrapper__text {
  width: 380px;
}
