export PORT=5100
export HOST=http://localhost:5100
export BLOG_HOST=https://staging-blog-honeypot.herokuapp.com
export API_HOST=http://localhost:5000
export APP_HOST=http://localhost:5000
export COOKIE_DOMAIN=localhost

## Not required for regular development
#
# export S3_ID=<your s3 id comes here>
# export S3_SECRET=<your s3 secret comes here>
# export TRAVIS_PULL_REQUEST=false
# export GA_ID=<your-ga-id>
# export GTM_ID=<your-gtm-id>
# export OPTIMIZELY_ID=<your-optimizely-id>
# export ROLLBAR_TOKEN=<your-rollbar-token>
# unset URL_BASE
# unset APP_URL
# ## Forc push to S3 bucket when using the deploy script
# unset S3_FORCE
