# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

# NPM packages folder.
node_modules/
vendor/
npm-debug.*
package-lock.json

# Brunch output folder.
public/
!public/landing.css
!public/maintenance.html

# New Static Pages
!public/de
!public/nl
!public/women-in-tech-2018
!public/hive-conference-2018
!public/app-*.js
!public/commons-*.js
!public/path---*.js
!public/component---*.js
!public/build-js-styles.css


# Other
tmp/
.env
