---
_options:
  layout: app/layouts/main.static.hbs
---

<div class="o-page-moat m-auth__container">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-4 col-md-push-8 m-auth__panel-description">
        <h5 class="m-auth__panel-description__heading">Set up a profile</h5>
        <div class="m-auth__panel-description__text-block">
          Tell us about your experience, your salary expectations and your desired tech stack.
        </div>

        <h5 class="m-auth__panel-description__heading">Receive great job offers</h5>
        <div class="m-auth__panel-description__text-block">
          Companies request an interview with you, sending tech stack and salary upfront.
        </div>

        <h5 class="m-auth__panel-description__heading">Find a job and get a bonus</h5>
        <div class="m-auth__panel-description__text-block">
          you choose which companies to interview with and when you get hired we give you a <b>€1024</b> bonus.
        </div>
      </div> <!-- -->

      <div class="col-xs-12 col-md-offset-1 col-md-7 col-md-pull-4">
        <div class="m-auth__form" id="app"></div>
      </div>
    </div>
  </div>
</div>

