.c-checkbox {
  @include clearfix();

  &__replace {
    width: 100%;
    position: absolute;
    left: 0;
    height: 20px;
    opacity: 0;

    &:checked + .c-checkbox__label,
    &:checked:hover + .c-checkbox__label {
      @include checkbox-replacement("DIGEST(images/checkbox-state-clicked.svg)", 3px);
    }

    &:hover + .c-checkbox__label {
      @include checkbox-replacement("DIGEST(images/checkbox-state-hovered.svg)", 3px);
    }

    + .c-checkbox__label {
      @include checkbox-replacement("DIGEST(images/checkbox-state-inactive.svg)", 3px);
      color: $gray-color;
    }
  }

  > .c-checkbox__replacement-label {
    @include text($fs-2, $fw-normal, $gray-color);
    width: 90%;
    padding-left: 0;
    float: left;
    margin: 4px 0 0 5px;

    @media #{$md-up} {
      width: auto;
    }

    &--error {
      color: $brand-danger;
    }
  }
}
