.c-explanation-showcase {

  &__heading {
    @include text($fs-8, $fw-light, $almost-black-color);

    @media #{$md-up} {
      font-size: $fs-12;
    }

    &--left {
      text-align: left;
    }
  }

  &__copy {
    @include text($fs-2, $fw-light, $dark-gray-2-color);
    margin-top: 25px;
    line-height: $fs-5 + 4px; // 30px

    @media #{$md-up} {
      font-size: $fs-4;
    }

    &__paragraph {
      margin-top: 20px;
    }

    &__cta {
      margin-top: 20px;
      font-size: $fs-3;
      font-weight: $fw-normal;

      @media #{$md-up} { font-size: inherit; }
      a { color: $blue-color; }
    }
  }

  &__text-block {
    float: left;

    @media #{$md-up} {
      width: 372px;
      margin-top: 2px;
      margin-right: 34px;
      float: right;
    }

    &--full-width {
      @media #{$md-up} {
        width: 100%;
      }
    }

    &--no-push {
      @media #{$md-up} {
        margin-top: 0;
      }
    }

    &--padded-left {
      @media #{$md-up} {
        padding-left: 52px;
      }
    }

    &--talent-rep {
      @media #{$md-up} {
        width: 480px;
      }
    }
  }

  &__image {
    display: inline-block;
  }

  &__talent-image {
    @include sizing(249px 145px);
    display: block;
    margin: 45px auto 0;

    @media #{$md-up} {
      @include sizing(702px 378px);
      margin: 33px 0 0 -55px;
    }
  }

  &__companies-image {
    @include sizing(300px 218px);
    display: block;
    margin: 45px auto 0;

    @media #{$sm-up} {
      @include sizing(664px 477px);
      margin: 9px 0 0 14px;
      display: block;
    }
  }

  &__get-job-image {
    @include sizing(218px 240px);
    margin: 0 auto;
    display: block;

    @media #{$md-up} {
      @include sizing(442px 486px);
      margin-top: 57px;
      display: inline-block;
    }
  }

  &__talent-rep {
    @media #{$md-up} {
      padding-left: 60px;
    }
  }

  &--centered {
    margin: 0 auto;

    @media #{$md-up} {
      width: 550px;
    }
  }

  &--wider {
    @media #{$md-up} {
      width: 738px;
    }
  }

  &__btn {
    padding: 15px 48px;
    font-size: $fs-4;
  }
}
