.c-footer {
  min-height: 350px;
  padding: 50px 0;
  text-align: center;
  background-color: $light-gray-color;

  @media #{$sm-up} {
    padding: 100px 0;
  }

  &__item {
    margin: 20px 10px 0 0;
    font-size: $fs-5 - 1px;
    font-weight: $fw-semibold;
    text-align: center;
    letter-spacing: 1px;
    color: $gray-color;

    @media #{$sm-up} {
      margin: 0 45px 0 0;
      text-align: left;
    }
  }

  &__copyright {
    display: block;
    margin: 50px 0 20px;
    text-align: center;

    @media #{$sm-up} {
      margin-bottom: 0;
    }
  }
}
