.c-info {
  background-color: $light-gray-color;
  padding-top: 41px;

  &__heading {
    @include text($fs-7, $fw-bold, $almost-black-color);
    margin-bottom: 20px;
    text-align: center;
  }

  &__container {
    padding: 20px 40px;
    background-color: $white-color;
    color: $gray-3-color;

    @media #{$md-up} {
      width: 800px;
    }

    a {
      color: $blue-color;
    }
  }

  &__legal {
    ul,
    ol {
      padding-left: 10px;
    }
  }
}
