.c-landing-header {
  padding: 90px 0;
  text-align: center;
  background: {
    image: url('/images/lp_header.png');
    color: $blue-color;
    size: cover;
    position-x: -250px;
    repeat: no-repeat;
  }

  @media #{$sm-up} {
    background-position-x: 0;
  }

  @media #{$md-up} {
    padding: 190px 0 157px;
  }

  &--employers {
    background: url('images/employers_bg.jpg') no-repeat;
    background-color: $black-color;
    background-position-x: -800px;

    @media #{$sm-up} {
      background-size: cover;
      background-position-x: 0;
    }
  }

  &--about {
    padding-top: 172px;
    padding-bottom: 125px;
    background: url('images/about_bg-mobile.png') no-repeat;
    background-color: $black-color;
    background-size: cover;

    @media #{$xs-up} {
      background-image: url('images/about_bg.png');
      background-position-x: 50%;
    }

    @media #{$lg-up} {
      background-position-x: 0;
    }
  }

  &__heading {
    @include text($fs-11, $fw-bold, $white-color);
    margin-top: 0;
    margin-bottom: 0;

    @media #{$md-up} {
      font-size: $fs-12;
    }

    &--about {
      font-size: $fs-12;

      @media #{$md-up} {
        font-size: $fs-big-header;
      }
    }
  }

  &__content {
    margin: 0 auto;
    width: 100%;

    @media #{$md-up} {
      width: 70%;
    }
  }

  &__body {
    @include text($fs-3, $fw-normal, $white-color);
    margin-top: 14px;
    margin-bottom: 23px;

    @media #{$md-up} {
      @include text($fs-8, $fw-normal, $white-color);
      line-height: 32.5px;
    }
  }
}
