.c-landing {
  &__section {
    padding: 65px 0 112px;

    &--primary {
      background-color: $blue-color;
      color: $white-color;
    }

    &--secondary {
      background-color: $light-gray-color;
    }

    &--more-spacing {
      padding-top: 124px;
    }

    &--line {
      border-top: 1px solid $light-blue-color;
    }
  }

  &__main-heading {
    @include text($fs-alpha, $fw-light, $blue-color);
    text-align: center;
    margin-bottom: 42px;

    @media #{$md-up} {
      @include text($fs-beta, $fw-light, $blue-color);
    }

    &--inverse {
      color: $white-color;
    }
  }

  &__input-container {
    @media #{$md-up} {
      padding-left: 38px;
    }
  }

  &__input {
    @include text($fs-9, $fw-light, $gray-2-color);
    width: 94%;
    margin-bottom: 20px;
    display: inline-block;
    height: auto;
    padding: 12px 20px;
    box-sizing: border-box;

    @media #{$md-up} {
      margin: 0 8px 20px 0;
      width: 90%;
      display: inline-block;
      vertical-align: bottom;
    }

    @media #{$lg-up} {
      margin: 0 8px 0 0;
      width: 405px;
    }
  }

  &__input-text {
    color: $almost-black-color;
  }
}
