.c-navigation {
  background-color: $white-color;
  z-index: $z-index-3;
  border-bottom: 1px solid $light-blue-color;

  #cookie-bar ~ & {
    margin-top: 54px;

    @media #{$sm-up} {
      margin-top: 30px;
    }
  }

  &__clear {
    height: 51px;

    #cookie-bar ~ & {
      height: 101px;

      @media #{$sm-up} {
        height: 81px;
      }
    }
  }

  &--inverse {
    background-color: $dark-blue-color;
  }

  &--talent-lp {
    background-color: transparent;
  }

  .nav > &__company {
    display: none;

    @media #{$sm-up} {
      display: block;
    }
  }

  .nav > &__mobile {
    @media #{$sm-up} {
      display: none;
    }
  }

  &__dropdown {
    min-width: 150px;
    padding: 0;
    margin-top: -10px;
    border: 1px solid $light-gray-5-color;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);

    > li > a {
      font-size: $fs-3;
      font-weight: $fw-light;
      color: inherit;
      text-align: right;
      padding-top: 8px;
      padding-bottom: 8px;

      &:hover {
        color: $blue-color;
      }
    }

    > li {
      border-bottom: 1px solid $light-gray-5-color;

      &:last-child {
        border-bottom: none;
      }
    }

    &:before {
      position: absolute;
      top: -7px;
      right: 11px;
      display: inline-block;
      border-right: 7px solid transparent;
      border-bottom: 7px solid $white-color;
      border-left: 7px solid transparent;
      border-bottom-color: $white-color;
      content: '';
    }
  }

  &__logo-link { padding: 9px 15px; }
  &__logo { @include sizing(131px 33px); }
}
