.c-navigation {
  background-color: $white-color;
  z-index: $z-index-3;

  #cookie-bar ~ & {
    margin-top: 54px;

    @media #{$sm-up} {
      margin-top: 30px;
    }
  }

  &__clear {
    height: 51px;

    #cookie-bar ~ & {
      height: 101px;

      @media #{$sm-up} {
        height: 81px;
      }
    }
  }

  &--inverse {
    background-color: $dark-blue-color;
  }

  &--talent-lp {
    background-color: transparent;
  }

  &__logo-link { padding: 9px 15px; }
  &__logo { @include sizing(131px 33px); }
}
