.c-navigation {
  background-color: $white-color;
  z-index: $z-index-3;

  &__clear {
    height: 51px;
  }

  &--inverse {
    background-color: $dark-blue-color;
  }

  &--talent-lp {
    background-color: transparent;
  }

  &__logo-link { padding: 9px 15px; }
  &__logo { @include sizing(131px 33px); }
}
