.c-panel-switcher {
  @include clearfix();
  margin-top: 24px;
  border: 1px solid $light-gray-3-color;
  border-bottom: 0;
  border-right: 0;
  border-radius: 5px 5px 0 0;
  background-color: $white-color;

  &__item {
    @include text($fs-12, $fw-normal, $light-gray-4-color);
    display: block;
    float: left;
    width: 50%;
    padding: 20px;
    text-align: center;
    border-right: 1px solid $gray-4-color;
    border-radius: 4px 4px 0 0;
    background-color: $light-gray-color;

    &__last {
      border-right: 0;
    }

    &--active {
      color: $gray-2-color;
      background-color: $white-color;
      border-bottom: 0;
    }

    &--signin-form {
      height: 81px;
    }
  }
}
