.quote-card-list {
  margin-top: 60px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media #{$md-up} {
    padding: 0 5%;
  }
}

.quote-card {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-left: 0;
  padding: 15px 20px 20px 40px;
  position: relative;
  font-size: 15px;
  float: left;

  @media #{$sm-up} {
    width: 48%;
    margin-bottom: 30px;
  }
  @media #{$md-up} {
    width: 30%;
    margin-bottom: 50px;
  }

  &:before {
    content: "\201C"; // Unicode for Left Double Quote
    font-family: Georgia, serif;
    font-size: 40px;
    font-weight: bold;
    color: $light-gray-3-color;
    position: absolute;
    left: 10px;
    top: 5px;
    pointer-events: none;
  }
}
