.quote-card-list {
  margin-top: 60px;

  @media #{$md-up} {
    padding: 0 5%;
  }
}

.quote-card {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-left: 0;
  padding: 15px 20px 20px 40px;
  position: relative;
  font-size: 15px;

  @media #{$sm-up} {
    margin-bottom: 30px;
    min-height: 210px;
  }
  @media #{$md-up} {
    margin-bottom: 50px;
    min-height: 260px;
  }

  @media #{$lg-up} {
    margin-bottom: 50px;
    min-height: 220px;
  }

  &:before {
    content: "\201C"; // Unicode for Left Double Quote
    font-family: Georgia, serif;
    font-size: 40px;
    font-weight: bold;
    color: $light-gray-3-color;
    position: absolute;
    left: 10px;
    top: 5px;
    pointer-events: none;
  }
}
