<div class="c-landing-banner js-banner">
  <p class="c-landing-banner__text"><strong>Out Now -</strong> Elixir: A Mini-Documentary
    <span class="c-landing-banner__actions pull-right"><a href="http://doc.honeypot.io/elixir-documentary-2018/" class="c-landing-banner__watch">watch now!</a> <a href="#" class="c-landing-banner__close js-banner-close">&times;</a></span>
  </p>
</div>