<div class="container c-commission-container text-center">
  <div class="c-commission">
    <div class="c-commission__header">
      15<small>%</small>
      <p class="c-commission__header__text">Commission*</p>
    </div>
    <ul class="c-commission__details">
      <li>Payment upon hire</li>
      <li>1 installment</li>
      <li>100% refund if the talent leaves in the first 3 months after hire</li>
      <li>Full visa support for non-EU talents</li>
    </ul>
  </div><!-- ./c-commission -->
  <div class="c-commission__legend">
    *Commission is calculated from the yearly gross salary of the hired developer
  </div>
  <div class="c-commission__start-hiring-container">
    <a href="{{url_base}}/invite_requests/new" class="btn btn-primary btn-landing btn-landing--big">Start Hiring</a>
  </div>
</div>
