<div class="row">
  <div class="col-xs-6 col-md-2 landing__company-logo landing__company-logo--travis">
    <img class="landing__company--travis" src="DIGEST(images/travis_logo.svg)" height="34px" alt="Travis CI"/>
  </div>
  <div class="col-xs-6 col-md-2 landing__company-logo landing__company-logo--even">
    <img class="landing__company--liqid" src="DIGEST(images/liqid_logo.png)" height="20px" alt="Liqid jobs"/>
  </div>
  <div class="col-xs-6 col-md-2 landing__company-logo">
    <img class="landing__company--finleap" src="DIGEST(images/finleap_logo.svg)" height="20px" alt="Finleap jobs"/>
  </div>
  <div class="col-xs-6 col-md-2 landing__company-logo landing__company-logo--even">
    <img class="landing__company--carmudi" src="DIGEST(images/carmudi_logo.png)" height="20px" alt="Carmudi jobs"/>
  </div>
  <div class="col-xs-6 col-md-2 landing__company-logo">
    <img class="landing__company--hitfox" src="DIGEST(images/hitfox_logo.svg)" height="32px" alt="HitFox jobs"/>
  </div>
  <div class="col-xs-6 col-md-2 landing__company-logo landing__company-logo--even">
    <img class="landing__company--eatfirst" src="DIGEST(images/eatfirst_logo.png)" height="18px" alt="EatFirst jobs"/>
  </div>
</div>
