<div class="row landing__step-container {{#if full_width }}landing__step-container--full-width{{/if}}">
  <div class="col-sm-1 col-xs-2 col-md-2 landing__step__symbol-container">
    <i class="landing__step__symbol">{{ number }}</i>
  </div>
  <div class="col-xs-9">
    <h3 class="landing__step__heading">{{ title }}</h3>
    <p class="landing__step__body">
      {{{ content }}}
    </p>
  </div>
</div>
