  <li class="c-landing__step">
    <div class="clearfix">
      <div class="c-landing__step__counter">{{counter}}</div>
      <div class="c-landing__step__text">
        {{{text}}}
      </div>
    </div>
  </li>
