  <div class="container c-quote">
    <p class="c-quote__content">
      In Italy, I worked as a freelancer and founded my own agency, but I felt like a new challenge.
      Thanks to Honeypot I landed an exciting position as Senior Backend Developer at LIQID in Berlin.
      I have been in touch with technical recruiters before,
      but the guys at Honeypot showed a level of dedication that is uncommon in the industry.
      I would recommend them to any engineer looking for a new opportunity here in Berlin,
      best job platform I have experienced so far!
    </p>
    <div class="media c-quote__author">
      <div class="media-body">
        <div>
          Michele Piccirillo
        </div>
        <div class="c-quote__author__position">
          Senior Backend Developer
        </div>
        <img class="c-quote__author__company" src="DIGEST(/images/liqid_logo.png)" width="79" height="23" alt="Liqid jobs"/>
      </div>
      <div class="media-right">
        {{> avatar
          sizing=70
          author="m_piccirillo"
        }}
      </div>
    </div>
  </div>
