.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.header__lang-switch {}
.header__link-list {
  float: right;
  margin: 0 auto;
  margin-right: 8px;
  padding: 0;
  display: flex;
  list-style-type: none;
}
.header__link-item {
  color: $gray-4-color;
  padding: 5px 8px;
  &--active {
    font-weight: bold;
    color: $almost-black-color;
  }
  &--button {
    border-radius: 3px;
    background-color: $brand-primary;
    color: $white-color;
  }
}
.header__logo {
  height: 35px;
}
.header__nav {
  flex: 2 1 auto;
}
