// Overrides
@import 'bootstrap/variables';
@import 'settings/variables';
@import './variables';

// Bootstrap
@import 'bootstrap/mixins';
@import 'bootstrap/normalize';
@import 'bootstrap/type';
@import 'bootstrap/grid';
@import 'bootstrap/buttons';

@import 'settings/z-index-variables';
@import 'settings/breakpoint-variables';
@import 'utilities/proxima-nova';

// Locals
@import './header';
@import './footer';

body {
  line-height: 1.5em;
  font-family: 'Proxima-Nova';
  color: $text-color;
}

p {
}

.btn-info {
  text-decoration: underline;
}
