// Overrides
@import 'bootstrap/variables';
@import 'settings/variables';
@import './variables';

// Bootstrap
@import 'bootstrap/mixins';
@import 'bootstrap/normalize';
@import 'bootstrap/type';
@import 'bootstrap/grid';
@import 'bootstrap/buttons';

@import 'settings/z-index-variables';
@import 'settings/breakpoint-variables';
@import 'utilities/proxima-nova';

// Components
@import './components/index';

@import './utils';

* {
  box-sizing: border-box;
}

html {
  font-size: 100%; // 16px
}

body {
  line-height: 1.5em;
  font-family: 'Proxima-Nova';
  font-size: 0.875em; // 14px 
  color: $text-color;
}

h2, h3 {
  color: $black-color;
}

h1 {
  font-size: 3.213em;
}

h2 {
  font-size: 2.5em; // 35px
  margin: 20px 0;
}

h3 {
  font-size: 1.785em; // 24px
}

h4 {
  font-size: 1.286em; // 18px
}

a {
  color: $text-color;
  text-decoration: none;
}
