.wrapper {
  width: 1234px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.content {
  margin: 0 80px;
}

.center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}
