$text-color:                    #999999;

$blue-1:                        #0F2A48;
$blue-2:                        $blue-color;
$blue-3:                        #E1F0FF;

$yellow-1:                      #FFF2C6;
$yellow-2:                      #CEA000;
$yellow-3:                      #F6C724;

$gray-1:                        #F8F9FB;
$gray-2:                        #ECEEF1;

$fs-1:                          0.875em; // 14px
$fs-2:                          1.286em; // 18px
$fs-3:                          1.429em; // 20px
$fs-4:                          1.785em; // 24px
$fs-5:                          2.5em; // 35px
$fs-6:                          3.213em; // 45px
