.navbar {
  margin-bottom: 0;

  &-nav {
    font-family: $ff-sans-serif;
    font-size: $fs-3;
    color: $gray-3-color;

    > li > a {
      color: inherit;

      &:hover,
      &:focus {
        color: $blue-color;
        background-color: transparent;
      }
    }

    li {
      text-align: center;

      @media #{$md-up} {
        text-align: left;
      }
    }

    .navbar-btn {
      font-size: $fs-2;
      line-height: 1.45;

      @media #{$md-up} {
        margin-left: 10px;
      }
    }
  }

  .icon-bar {
    background-color: $gray-3-color;
  }
}
