.navbar {
  margin-bottom: 0;

  &-nav {
    font-family: $ff-sans-serif;
    font-size: $fs-16;
    font-weight: $fw-semibold;
    text-transform: uppercase;
    color: $gray-3-color;

    a {
      color: inherit;
    }

    li {
      text-align: center;

      @media #{$md-up} {
        text-align: left;
      }
    }
  }

  .icon-bar {
    background-color: $gray-3-color;
  }
}
