---
_options:
  layout: app/layouts/main.static.hbs
  partials:
    - app/partials/landing_references.static.hbs
    - app/partials/landing_step.static.hbs
    - app/partials/landing_read_more.static.hbs
    - app/partials/landing_steps.static.hbs
    - app/partials/commission.static.hbs
    - app/partials/quote.static.hbs
    - app/partials/avatar.static.hbs
---
<header class="o-hero-unit c-landing__header">
  <div class="container text-center">
    <div class="o-hero-unit__content">
      <h1 class="o-hero-unit__heading c-landing-header__heading">
        Get job offers from Europe’s best tech companies
      </h1>
      <div class="o-hero-unit__body c-landing-header__body">
        <div>
          We help programmers find great jobs at great companies.
          <span class="c-landing__force-break"></span>
          No applications, just one profile and your code.
        </div>
      </div>
      <div>
        <a href="{{url_base}}/users/sign_up" class="btn btn-blue c-landing__btn">Sign up</a>
      </div>
    </div>
  </div>
</header>

<section class="container c-landing__steps-section">
  <ol class="clearfix c-landing__steps">
    {{> landing_step
      counter=1
      text='
        <span class="c-landing__step__emph">Sign up,</span> it only takes <span class="u-force-break">5 minutes!</span>
      '
    }}
    {{> landing_step
      counter=2
      text='
        <span class="c-landing__step__emph">Have a call</span> with us <span class="force-break"></span>
        and complete a <span class="u-force-break">technical screening</span>
      '
    }}
    {{> landing_step
      counter=3
      text='
        <span class="c-landing__step__emph u-force-break">Receive job offers</span> based on your preferences
      '
    }}
    {{> landing_step
      counter=4
      text='
        Get hired and get <span class="force-break"></span> a <span class="c-landing__step__emph">&euro;1024 bonus</span>
      '
    }}
  </ol>
</section>

<section class="c-landing__partners-section">
  <div class="container">
    <h4 class="c-landing__partners__heading">Our partners</h4>
    <div class="row c-landing__logo-container">
      {{> landing_references}}
    </div>
  </div><!-- ./container -->
</section>

<section class="visible-xs visible-sm container text-center">
    <a href="{{url_base}}/users/sign_up" class="btn btn-blue c-landing__btn">Sign up</a>
</section>
