---
title: html-brunch-static's awesome test page
_options:
  layout: app/layouts/main.static.hbs
  partials:
    - app/partials/greetings.static.hbs
---
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Hello</h1>
    </div>
  </div>
</div>
