---
header_class_name: 'c-navigation--inverse'
footer_class_name: 'c-footer--inverse'
nav_logo: 'logo_inverse.svg'
_options:
  layout: app/layouts/main.static.hbs
---
<div class="c-error">
  <div class="container">
    <div class="c-error__focus">
      <img src="{{url_base}}DIGEST(/images/404.png)" alt="404" class="c-error__focus__element c-error__404" height="290" width="545" />
    </div>
    <div class="c-error__description">Oops - this is most likely not where you wanted to bee.</div>
    <p class="text-center">
      <a href="{{url_base}}/" class="btn btn-primary c-error__btn">Back to homepage</a>
    </p>
  </div>
</div>
