---
_options:
  layout: app/layouts/main.static.hbs
---
<header class="o-hero-unit c-landing__header c-landing-header--about">
  <div class="container text-center">
    <div class="o-hero-unit__content">
      <h1 class="o-hero-unit__heading c-landing-header__heading c-landing-header__heading--about">
        We, Honeypot
      </h1>
      <div class="o-hero-unit__body c-landing-header__body">
        <div>
          Honeypot exists to get every developer a great job
        </div>
      </div>
    </div>
  </div>
</header>
