---
_options:
  layout: app/layouts/main.static.hbs
  partials:
    - app/partials/team_member.static.hbs
---
<header class="o-hero-unit c-landing__header c-landing-header--about">
  <div class="container text-center">
    <div class="o-hero-unit__content">
      <h1 class="o-hero-unit__heading c-landing-header__heading c-landing-header__heading--about">
        We, Honeypot
      </h1>
      <div class="o-hero-unit__body c-landing-header__body">
        <div>
          Honeypot exists to get every developer a great job
        </div>
      </div>
    </div>
  </div>
</header>

<section class="c-landing-section c-landing-section--bordered">
  <div class="c-explanation-showcase--centered c-explanation-showcase--wider">
    <h2 class="text-center c-explanation-showcase__heading">About us</h2>
    <p class="text-center c-explanation-showcase__copy">
      Honeypot is a developer-focused job platform, on a mission to get every developer a great job.
      We believe developers should have all the information they need to choose a job they love: whether that’s based on a cutting-edge tech stack, an inspiring team or just good old-fashioned salary.
      In our world, that means no more spam and empty promises from headhunters, no more sending the same application to multiple companies - just one profile and the choice to receive  honest offers related to your job preferences direct from companies.
    </p>
  </div>
</section>

<section class="c-landing-section">
  <div class="c-explanation-showcase--centered">
    <h2 class="text-center c-explanation-showcase__heading">Meet the team</h2>
  </div>

  <div class="container c-about-team">

    {{> team_member
      imageName="kaya_taner"
      name="Kaya Taner"
      description="Founder & CEO"
    }}

    {{> team_member
      imageName="emma_tracey"
      name="Emma Tracey"
      description="Co-founder & Managing Director"
    }}

    {{> team_member
      imageName="hugo_duksis"
      name="Hugo Duksis"
      description="Head of Engineering"
    }}

    <div class="c-about-team__item">
      <div class="c-about-team__name">Denny Fitzer</div>
      <div class="c-about-team__description">Head of Product</div>
    </div>

    {{> team_member
      imageName="giovanni_capuano"
      name="Giovanni Capuano"
      description="Software Developer"
    }}

    {{> team_member
      imageName="ewelina_grajko"
      name="Ewelina Grajko"
      description="Account Manager"
    }}

    <div class="c-about-team__item">
      <div class="c-about-team__name">Katherine Nicolaisen</div>
      <div class="c-about-team__description">Marketing Manager</div>
    </div>

  </div>
</section>
