---
_options:
  layout: app/layouts/main.static.hbs
  partials:
    - app/partials/team_member.static.hbs
    - app/partials/about_members.static.hbs
---
<header class="o-hero-unit c-landing__header c-landing-header--about">
  <div class="container text-center">
    <div class="o-hero-unit__content">
      <h1 class="o-hero-unit__heading c-landing-header__heading c-landing-header__heading--about">
        We, Honeypot
      </h1>
      <div class="o-hero-unit__body c-landing-header__body">
        <div>
          Honeypot exists to get every developer a great job
        </div>
      </div>
    </div>
  </div>
</header>

<section class="c-landing-section c-landing-section--bordered">
  <div class="c-explanation-showcase--centered c-explanation-showcase--wider">
    <h2 class="text-center c-explanation-showcase__heading">About us</h2>
    <p class="text-center c-explanation-showcase__copy">
      Honeypot is a developer-focused job platform, on a mission to get every developer a great job.
      We believe developers should have all the information they need to choose a job they love: whether that’s based on a cutting-edge tech stack, an inspiring team or just good old-fashioned salary.
      In our world, that means no more spam and empty promises from headhunters, no more sending the same application to multiple companies - just one profile and the choice to receive  honest offers related to your job preferences direct from companies.
    </p>
  </div>
</section>

<section class="c-landing-section">
  <div class="c-explanation-showcase--centered">
    <h2 class="text-center c-explanation-showcase__heading">Meet the team</h2>
  </div>

  <div class="container c-about-team">
    {{> about_members}}
  </div>
</section>

<section class="c-landing-section c-landing-section--about">
  <div class="container">
    <p>
      "But this isn’t just some Craigslist directory – far from it. Honeypot offers a Talent Rep to each person looking for work.
      They’re like a guide to help you  land the best job to suit your current aspirations.
      It’s a very straightforward system meant to target the best mid-to-advanced developers currently seeking employment.”
    </p>
  </div>
</section>
