---
_options:
  layout: app/layouts/main.static.hbs
---

<div class="c-info">
  <div class="container c-info__container c-info__legal">
    <h2 class="c-info__heading">Frequently Asked Questions</h2>
    <p class='text-center'>
      <a href="{{url_base}}/pages/faq#talents">For Talents</a>
      &nbsp;&amp;&nbsp;
      <a href="{{url_base}}/pages/faq#employers">For Employers</a>
    </p>
    <h2 id="talents">For Talents</h2>
    <h3>Signing up</h3>
    <ul>
      <li>
        <strong>What is Honeypot?</strong>
        <p>
          Honeypot is a developer-focused job platform, linking screened tech talent with approved companies. The idea of the platform is to switch the power dynamic of traditional recruiting. You create a profile  and companies apply directly to you with transparent job offers.  The entry criteria on both sides creates a transparent and efficient marketplace, open only to those pre-approved, allowing talent and companies to focus on finding the right fit.
        </p>
      </li>
      <li>
        <strong>What type of skills do you look for on Honeypot?</strong>
        <p>
          Demand for skillsets varies. Currently we are seeing a strong need for mobile development and for frontend and backend web development. We also have positions in devops, for data-scientists, for CTOs and more. Experience in startups is a bonus, though not a prerequisite. A good level of English is important for most jobs too, though some positions may be advertised in different languages.
        </p>
      </li>
      <li>
        <strong>How does the Honeypot process work?</strong>
        <p>
          Signup to Honeypot and create a profile. Before becoming visible to companies, we will check your code and have a quick call with you to establish your salary and tech preferences.  Once this is complete and your profile is fully filled in, you will enter a batch. Batches start every Monday and run for three weeks and during this time you are visible to companies.  This creates urgency for companies who are motivated to move fast to send you interview invites. You accept the interviews for the positions which interest you, interview with those companies, and choose the role that's closest to your ideal.
        </p>
      </li>
      <li>
        <strong>What is a Talent Rep?</strong>
        <p>
          A Talent Rep is your personal guide to Honeypot. They will lead you through the entire process, from sign up to job offer, answer any questions you have along the way and help you navigate company profiles, interview invites, and job offers. Your Talent Rep is experienced in tech and startup recruitment so feel free to ask for support when you need it.
        </p>
      </li>
    </ul>
    <h3>Creating your profile</h3>
    <ul>
      <li>
        <strong>What information is included on my profile?</strong>
        <p>
          Aside from the basics like name, contact information, experience and skills, you can add your salary expectations, prefered location and contract type, and desired roles. We also provide plenty of space for a personal summary plus room to fill in links to your work as demonstrable on platforms like GitHub, Behance, StackOverflow and others. And don’t forget your Talent Rep is there for support if needed.
        </p>
      </li>
      <li>
        <strong>I am currently employed and must give notice before leaving, can I include this information in my profile?</strong>
        <p>
          You can include your earliest start date in your profile. Companies offer you interview invites with this in mind.
        </p>
      </li>
      <li>
        <strong>I am currently employed and don’t want my company to see me, can I hide my profile?</strong>
        <p>
          We block your current employer by default. You can add other companies you may wish to block through the privacy tab.
        </p>
      </li>
      <li>
        <strong>I am currently a student but will soon graduate. When should I create a profile?</strong>
        <p>
          You can sign up to Honeypot  when you decide you are ready to enter the job market. The hiring process usually goes pretty fast once your profile becomes visible so be sure you have enjoyed your final student days before joining! While Honeypot is geared towards experienced developers, we also recognize fresh graduates have big potential. If there are some experience gaps on your profile we ask you to complete our code challenge. If you prove what you know we let the other entry criteria slide.
        </p>
      </li>
      <li>
        <strong>What should I include in my personal summary? Can I just skip it?</strong>
        <p>
          Resist that familiar temptation to simply cut an old bio from elsewhere and paste it here. Companies really do read the personal summaries and generally use it as a complement to your tech skills to judge cultural fit. A well-written summary should be between 50 and 200 words long and answer three important questions: who are you, what do you want from your next role, and what demonstrates your ability to progress to that position. Tell us what excites you as a developer and what you would love to do. Don’t forget your Talent Rep is on standby to help when needed.
        </p>
      </li>
      <li>
        <strong>What types of skills should I include in the skills section?</strong>
        <p>
          This part is all about your technical expertise. Include programming languages, frameworks and important tools with which you are familiar. You should be comfortable with the skills you list, meaning you don’t necessarily need to be an expert, but you do need to have more than a basic knowledge. If you feel your soft skills also deserve a mention, we encourage you to incorporate them into the ‘About Me’ section of your profile.
        </p>
      </li>
      <li>
        <strong>How do I determine my ideal salary?</strong>
        <p>
          This depends on you, though you should try to be realistic in your assumptions, taking into account your own level of experience as well as living costs in the city to which you are applying. The ideal salary is used as an indicator for companies and is not necessary a fixed criterion.
        </p>
      </li>
      <li>
        <strong>Can I select multiple locations for my ideal position?</strong>
        <p>
          Yes, you can choose as many locations as you like from the listed areas for your ideal position. You will receive job offers from companies situated in all of these locations. But please don’t select a location unless you really intend to relocate there. If you want to work remotely please select the remote option. However, we do not currently have companies hiring for remote positions.
        </p>
      </li>
      <li>
        <strong>I don’t currently live in any of the locations listed. Can I still join Honeypot?</strong>
        <p>
          Yes, you are still welcome to join Honeypot. If you fancy relocating then mark the cities that interest you. If you don’t want to relocate then add a city in the  ‘other’ section in your ideal position.  We are expanding rapidly and will keep you updated on our movements. The final option is remote positions, though we do not currently have companies hiring for remote positions.
        </p>
      </li>
      <li>
        <strong>I want to apply for a position in Berlin but I don’t speak German. Is this a problem?</strong>
        <p>
          English is the working language of many of the companies using Honeypot, so it shouldn’t be a problem.
        </p>
      </li>
      <li>
        <strong>Do companies sponsor visas for relocation?</strong>
        <p>
          Many companies on our platform do sponsor relocation visas. They will take care of the paperwork and the cost involved. Because your work authorization is included in your profile companies who send you interview invites are those who are generally willing to help you resettle.
        </p>
      </li>
      <li>
        <strong>Do companies help with relocation costs?</strong>
        <p>
          Some companies will offer a relocation bonus for candidates but few will organize accommodation. We recommend you discuss these points directly with the company once you accept the interview invite.
        </p>
      </li>
    </ul>
    <h3>Getting Approved to Honeypot</h3>
    <ul>
      <li>
        <strong>I have completed my profile for Honeypot, what's next?</strong>
        <p>
          After you complete your profile, submit it for review. Your Talent Rep screens your profile to make sure we have jobs and companies which fit your skillset.  They will email you to let you know when you have been accepted.
        </p>
      </li>
      <li>
        <strong>How long does it take to have my profile reviewed on Honeypot?</strong>
        <p>
          Submit your profile and your Talent Rep will usually complete a review within one to two working days, or in very exceptional cases longer. Incomplete profiles delay the process.
        </p>
      </li>
      <li>
        <strong>What do you look for when reviewing profiles for Honeypot?</strong>
        <p>
          To be accepted you must have a complete profile plus a certain level of demonstrable experience in your given field. If you cannot demonstrate your experience we will ask  you to complete a code challenge.
        </p>
      </li>
      <li>
        <strong>My profile was approved on Honeypot but it looks different now. What happened?</strong>
        <p>
          During the approval process your Talent Rep adds a headline which summarizes your profile for companies.  You have full control over the headline and we can edit it if you aren’t happy. Occasionally, your Talent Rep  will also clean up some aspects of the profile to better showcase your skills. Don’t worry, it's just a matter of rejigging for maximum impact, we won’t delete any important information.
        </p>
      </li>
      <li>
        <strong>My profile was not accepted to Honeypot, can I resubmit?</strong>
        <p>
          If your profile isn’t accepted your Talent Rep will send you an email to explain why. They will be open to answer any questions you may have.
        </p>
      </li>
    </ul>
    <h3>Receiving interview invites</h3>
    <ul>
      <li>
        <strong>When do I become visible to companies on Honeypot?</strong>
        <p>
          New talent becomes visible in batches. This allows companies to track and organize to whom they have sent interview invites. Once your profile has been reviewed and accepted, your Talent Rep will email you telling you the date of the next batch. Your profile will automatically be included and from that point you are visible to companies. If you want to delay entry to the batch, contact your Talent Rep.
        </p>
      </li>
      <li>
        <strong>I don’t want to be visible to companies on Honeypot just yet. How do I do this?</strong>
        <p>
          Just send your Talent Rep a quick email explaining your requirements and they will sort it out for you.
        </p>
      </li>
      <li>
        <strong>How do I contact my Talent Rep on Honeypot?</strong>
        <p>
          When you are accepted onto the platform your Talent Rep will email you directly. You can use that email to contact them whenever you need help or advice. If you have lost your Talent Rep’s email you can contact them at <a href="mailto:hello@honeypot.io">hello@honeypot.io</a>
        </p>
      </li>
      <li>
        <strong>How do companies find my profile on Honeypot?</strong>
        <p>
          Companies search for candidates by filtering for specific criteria, such as skillset, location, work authorization, and contract type. This brings up profiles of candidates to whom the companies can then send interview invites.
        </p>
      </li>
      <li>
        <strong>What is an interview invite?</strong>
        <p>
          An interview invite is a request from a company to interview you for a specific role. It indicates that a company likes your profile and is interested in talking to you about a position. Accepting an interview invite does not bind you to the company and you may accept as many interview invites as you like.
        </p>
      </li>
      <li>
        <strong>What information is included in an interview invite?</strong>
        <p>
          Interview invites list role-specific information. You can think of them as a more transparent version of a traditional job posting. They include regular items, such as a role description and skill specification, but also salary and other benefits plus a personalized message from the CEO, CTO or hiring manager, depending on the size of the company. For more company specific information you can click into the company profiles.
        </p>
      </li>
      <li>
        <strong>What is a company profile?</strong>
        <p>
          Each company on the platform has an individual company profile. It is a detailed overview  of tech credentials and work culture and is accessible through the interview invite. Company profiles include information about the development team, products, tech stack, hiring procedure, as well as a timeline of major developments and a direct message from the CTO, CEO or HR manager, depending on the size of the company. You can use company profiles as a resource to decide which companies are most appealing to you.
        </p>
      </li>
      <li>
        <strong>I like the company but the salary on the interview invite is too low. What should I do?</strong>
        <p>
          The salary listed on the interview invite should be taken as a ballpark guide. If the figure is within a 20% range of your desired salary then we recommend you accept the interview invite and negotiate directly with the company. Your Talent Rep can help with negotiations.
        </p>
      </li>
      <li>
        <strong>Can I accept more than one interview invite?</strong>
        <p>
          Sure you can, but don’t overdo it either.  You want to leave yourself enough time to properly prepare for each interview.
        </p>
      </li>
      <li>
        <strong>What format do the interviews take?</strong>
        <p>
          The interviews are arranged directly between you and the company. Companies are generally flexible to the schedules and requirements of talent. Common interview formats are face-to-face, Skype/Hangout, phone and online pair-coding.
        </p>
      </li>
      <li>
        <strong>Is it possible to do interviews remotely?</strong>
        <p>
          Yes, most companies are happy to interview talent by phone, over Skype/Hangouts or by other such means.
        </p>
      </li>
      <li>
        <strong>What should I prepare for the interview?</strong>
        <p>
          You should fully understand the role that you are applying for by revisiting the interview invite and company profile. Identify the skills the company is looking for and have a clear link to your own profile. Its also helpful to think about which direction you want your career to go in and how that aligns with the future plans of the company.  Check out our blog for information on interview tactics.
        </p>
      </li>
      <li>
        <strong>If I accept an interview invite, will I still be eligible to receive invites from other companies?</strong>
        <p>
          Yes, you will be eligible to receive interview invites from multiple companies until a paper offer for a job role is signed.
        </p>
      </li>
      <li>
        <strong>My profile has been visible to companies on Honeypot for some time, why haven’t I received any interview invites?</strong>
        <p>
          In the unlikely event that you get no interview invites we suggest you contact your Talent Rep.
        </p>
      </li>
      <li>
        <strong>Can I decline interview invites on Honeypot?</strong>
        <p>
          Yes, if interview invites are not interesting for you, you can decline them. In these cases you can also specify why the invite was not interesting.
        </p>
      </li>
      <li>
        <strong>I don’t like the role being offered but I like the company. Can I decline an interview invite for a specific role but still receive invites for other positions within the same company?</strong>
        <p>
          You can decline a specific role and still receive interview invites for different roles within the same company. At the point when you decline an interview invite you are offered the option to block the company. There is no need to block that company if you are still interested in working there.
        </p>
      </li>
      <li>
        <strong>How do I block a company from sending me interview invites on Honeypot?</strong>
        <p>
          At the point when you decline an interview invite you are offered the option to block the company from sending future invites. Alternatively, click on the privacy tab in your account settings and add the unwanted company to your list of blocked companies.
        </p>
      </li>
      <li>
        <strong>I declined an interview invite but have now changed my mind. Can I get back in contact with the company?</strong>
        <p>
          We encourage you to fully evaluate interview invites before declining them.  If you change your mind after declining an invite get in touch with your Talent Rep. In some cases the role may have already been filled and hence the interview invite is void, in other cases it may still be open. If it is still possible to interview we will help in whatever way we can.
        </p>
      </li>
    </ul>
    <h3>Getting Job Offers and Referring Friends</h3>
    <ul>
      <li>
        <strong>How do I claim my referral bonus on Honeypot?</strong>
        <p>
          The referral bonus is €512 and is distributed once the person whom you referred has been hired. You will receive an email notification upon hiring and we will transfer the money to you on their first day.
        </p>
      </li>
      <li>
        <strong>I recently got hired on Honeypot. What happens to my profile now?</strong>
        <p>
          First of all, congrats on getting hired! Drop us an email to let us now and we will hide your profile. You will no longer receive interview invites.
        </p>
      </li>
    </ul>
    <br>
    <h2 id="employers">For Employers</h2>
    <h3>Joining Honeypot</h3>
    <ul>
      <li>
        <strong>What is Honeypot?</strong>
        <p>
          Honeypot is an invite-only developer-focused job platform, linking screened tech talent with approved companies. Tech talent are vetted for skills and experience and only upon meeting certain standards are eligible to join. The entry criteria on both sides creates a transparent and efficient marketplace, open only to those pre-approved, which cuts sourcing time, allowing talent and companies to focus on finding the right fit.
        </p>
      </li>
      <li>
        <strong>How does the Honeypot process work?</strong>
        <p>
          After your company is approved to join Honeypot, we create a company profile for you based on the information you submit.  Once the company profile is finalized you can immediately start searching for talent using specific parameters and keywords. To contact talent directly for a job role you send an interview invite, which they can accept or reject.  As soon as candidates accept an interview invite, the recruitment process proceeds as per your company’s internal procedures.
        </p>
      </li>
      <li>
        <strong>Who should sign up for Honeypot?</strong>
        <p>
          Any company with tech needs to fulfill can sign up to Honeypot. We require that companies on Honeypot are transparent in job offers. HR managers tend to lead the process though we also strongly encourage involvement from the tech team, in particular the lead developer or the CTO, in screening candidates.
        </p>
      </li>
      <li>
        <strong>From where does Honeypot source talent?</strong>
        <p>
          Honeypot is an invite-only platform.  Talent comes through direct-invite, referral and community events. Direct-invite talent is sourced by our talent acquisition team. We have a strong pipeline of referrals through talents which have been successfully placed. And finally, we focus on building strong local networks which inspire talents to proactively request invite to the platform.
        </p>
      </li>
      <li>
        <strong>How is talent screened on Honeypot?</strong>
        <p>
          Talent submit a profile which is screened by our Talent Reps. We do a first assessment of their background and experience and check their coding skills. No engineer gets accepted without some code being reviewed by us. This can be from projects which they have worked on or through an internal code challenge. The code challenge allows us to evaluate candidates who don’t have demonstrable experience. If talent do not have sufficient experience or skill with code they are not accepted onto the platform.
        </p>
      </li>
      <li>
        <strong>What is the cost of using Honeypot ?</strong>
        <p>
          We charge a commission based on the salary of the talents we place. For pricing get in touch <a href="mailto:partners@honeypot.io">partners@honeypot.io</a>
        </p>
      </li>
    </ul>
    <h3>Creating a Company Profile</h3>
    <ul>
      <li>
        <strong>What is a company profile?</strong>
        <p>
          Each company on the platform has an individual company profile. It is a detailed overview  of tech credentials and work culture and is accessible through the interview invite. Company profiles include information about your development team, products, tech stack, as well as a timeline of major developments and a direct message from your CTO or someone product-related, depending on the size of your company.  Company profiles save time in the long run by aligning talent and company expectation prior to interviewing.
        </p>
      </li>
      <li>
        <strong>Who can see our company profile on Honeypot?</strong>
        <p>
          You cannot see exactly who views your company profile but you can control who has access. Only those talents to whom you send interview invites can view your profile.
        </p>
      </li>
      <li>
        <strong>We want to update our company profile, how do we do that?</strong>
        <p>
          To update information in your company profile get in touch with your Account Manager.
        </p>
      </li>
      <li>
        <strong>We are a new startup and  want to use Honeypot to fill most our vacancies. For that reason much of the information in our company profile is blank. Is that ok?</strong>
        <p>
          Most startups, even at early stage, are able to fill in the majority of information on the company profile. We encourage you to make particular use of the quote section, which can be considered an area to pitch your strategic vision for the company directly to talent.
        </p>
      </li>
    </ul>
    <h3>Viewing, interviewing and hiring talent</h3>
    <ul>
      <li>
        <strong>How is the viewing of talent organized?</strong>
        <p>
          You may search the full list of talents at any time following the activation of your company profile.
        </p>
      </li>
      <li>
        <strong>We are not exactly sure which type of tech skills are best suited to our company. Can you offer any advice?</strong>
        <p>
          Your Account Manager is experienced in tech recruiting and has a firm understanding of which skills apply to which companies. They are happy to help with any questions.
        </p>
      </li>
      <li>
        <strong>What is an interview invite?</strong>
        <p>
          An interview invite is a personalized request to tech talents to interview for a specific role. Tech talent can accept or reject your interview invite and you can send out multiple invites for the same role.
        </p>
      </li>
      <li>
        <strong>How do we create a new interview invite on Honeypot?</strong>
        <p>
          Search for the talent that interests you. On their profile you will find a “send interview invite” button. Click this to create a new interview invite.
        </p>
      </li>
      <li>
        <strong>What is included in an interview invite?</strong>
        <p>
          Interview invites combine elements of a traditional job posting, such as a concise  job description and skill requirements, with some extra elements to encourage greater transparency, such as salary and a personalized message from you to talent
        </p>
      </li>
      <li>
        <strong>What should we write in the personalized message in the interview invite on Honeypot?</strong>
        <p>
          You can talk about why you are interested in hiring the particular talent and how you envisage them contributing to the company. Talent are also interested to understand your focus for company growth and the resulting career development opportunities.
        </p>
      </li>
      <li>
        <strong>How can we optimize the recruiting process on Honeypot?</strong>
        <p>
          During the recruitment process we recommend you allocate your time appropriately. Each talent you reach out to will either accept or decline your interview invite.  In the case of talents accepting the interview invite we encourage you to move fast and be flexible. In the case that talents decline they will provide reasons as to why. From these reasons  you have the opportunity to build some data on how best to attract candidates in the future. If you are having difficulties your Account Manager is available to offer support and guidance on best practices.
        </p>
      </li>
      <li>
        <strong>We have multiple positions to fill, can we create multiple interview invites?</strong>
        <p>
          Yes you can send multiple invites for multiple positions. But you can only send a maximum of one invite to any given candidate.
        </p>
      </li>
      <li>
        <strong>What should I do if my  interview invites are declined?</strong>
        <p>
          It is normal for some invites to be declined. All declined invites include a reason. In some cases you can resubmit the interview invite, altering some aspects, such as salary. In the unlikely case that all your interview invites are declined we recommend you contact your Account Manager.
        </p>
      </li>
      <li>
        <strong>How is the interview process organized on Honeypot?</strong>
        <p>
          The interview process is organized between your company and the talent directly and can follow your usual internal procedures.
        </p>
      </li>
    </ul>
    <h3>Company Referral Program</h3>
    <ul>
      <li>
        <strong>What is Honeypot’s company referral program?</strong>
        <p>
          If you refer a company that we are not working with yet and the company signs up to Honeypot, you build up €512 in credit for your next hire. This credit becomes valid as soon as the company you have referred makes their first hire.
        </p>
      </li>
      <li>
        <strong>What happens if a company has been referred that we were already in talks with?</strong>
        <p>
          If we are already in contact with the company which you refer, the referral bonus is not valid.
        </p>
      </li>
      <li>
        <strong>Can I add multiple credits?</strong>
        <p>
          You can add and save up multiple credits too. For example, if you refer three companies and all three hire through Honeypot, you will receive a €1,536 discount on your next hire!
        </p>
      </li>
      <li>
        <strong>What happens if the company I referred makes use of Honeypot’s refund policy?</strong>
        <p>
          In case the refund policy is activated by the referred company (or the developer who was hired), the commission paid will be fully refunded (i.e. 15% of annual gross salary minus €512). Your credits will not be affected. You will still get your discount on your next hire.
        </p>
      </li>
      <li>
        <strong>How long will my credit be valid for?</strong>
        <p>
          However long you need to find the right developer you would like to hire - which shouldn’t take too long with us.
        </p>
      </li>
    </ul>
  </div>
</div>
