---
_options:
  layout: app/layouts/main.static.hbs
---

<div class="c-info">
  <div class="container c-info__container c-info__legal">
    <h2 class="c-info__heading">Legal Notice</h2>
    <p class='text-left'>
      <em>Information in accordance with section 5 TMG:</em>
      <br>
      <strong>Honeypot GmbH</strong>
    </p>
    <p class='text-left'>
      <strong>Address</strong>
      <br>Schönhauser Allee 45</br>
      10435 Berlin, Germany
    </p>
    <p class='text-left'>
      <strong>Contact</strong>
      <br>Phone: +49 (0)176 471 708 19</br>
      E-Mail: <a href="mailto:hello@honeypot.io">hello@honeypot.io</a>
      <br>Managing Directors: Kaya Taner, Emma Tracey</br>
      Commercial Register: Amtsgericht Charlottenburg, HRB 167934 B
      <br>VAT-id: DE300856850</br>
    </p>
    <p class='text-left'>
      Responsible for content pursuant to sec 55 subsection 2 of the interstate
      broadcasting compact (RStV): Kaya Taner, Emma Tracey; address see above.
    </p>
    <br>
  </div>
</div>
