$fa-font-path: 'assets/fonts/';
//==========================
// COLORS
//==========================

$white-color: #ffffff;
$black-color: #000000;
$blue-color: #3685d6;
$almost-black-color: #1f2228;
$almost-black-2-color: #43484d;
$yellow-color: #ffba00;
$light-gray-color: #f2f2f2;
$light-gray-2-color: #e4e8ec;
$light-gray-3-color: #dddddd;
$light-gray-4-color: #bebebe;
$light-gray-5-color: #e3e8ef;
$light-gray-6-color: #f9f9f9;
$light-gray-7-color: #f3f3f3;
$light-gray-8-color: #efefef;
$light-gray-9-color: #f0f1f0;
$gray-color: #94a2b3;
$gray-2-color: #757575;
$gray-3-color: #858b97;
$gray-4-color: #e0e6eb;
$dark-gray-2-color: #525252;
$dark-gray-color: #999999;
$light-blue-color: #e2e8f0;
$dark-blue-color: #1f2228;

$page-island-bg-color: $white-color;
$moat-color: $light-gray-color;



//==========================
// FONTS
//==========================

$fs-1: 12px;
$fs-2: 14px;
$fs-3: 16px;
$fs-4: 18px;
$fs-5: 20px;
$fs-6: 22px;
$fs-7: 24px;
$fs-8: 25px;
$fs-9: 26px;
$fs-10: 30px;
$fs-11: 35px;
$fs-12: 41px;
$fs-13: 45px;
$fs-14: 60px;

//buttons
$fs-landing-heading: $fs-8 * 2; // 50px
$fs-big-header: $fs-10 * 2; // 60px
$fs-auth-heading: $fs-12 + 4px;
$fs-btn: $fs-2;
$fs-btn-landing: $fs-6;
$fs-btn-landing-big: $fs-7;
$fs-comission: $fs-2 + 1px;
$fs-landing-rate: $fs-8 * 4;

$fw-light: 100;
$fw-semilight: 200;
$fw-normal: 400;
$fw-semibold: 600;
$fw-bold: 800;

$ff-sans-serif: 'Proxima-Nova', sans-serif;


//==========================
// SIZES
//==========================
$landing-pricing-table-width: 384px;
$landing-pricing-container-width: 480px;

