//==========================
// COLORS
//==========================

$white-color: #ffffff;
$blue-color: #3685d6;
$yellow-color: #ffba00;





//==========================
// FONTS
//==========================

$fs-alpha: 36px;
$fs-beta: 60px;
$fs-gamma: 24px;
$fs-theta: 25px;
$fs-5: 14px;
$fs-6: 22px;

//buttons
$fs-btn: $fs-5;
$fs-btn-landing: $fs-6;
$fs-btn-landing-big: $fs-gamma;

$fw-light: 100;
$fw-normal: 400;
$fw-bold: 800;

$ff-sans-serif: 'Proxima-Nova', sans-serif;


