//==========================
// COLORS
//==========================

$white-color: #ffffff;
$black-color: #000000;
$blue-color: #3685d6;
$almost-black-color: #1f2228;
$yellow-color: #ffba00;
$light-gray-color: #f2f2f2;
$gray-color: #94a2b3;
$gray-2-color: #757575;
$gray-3-color: #858b97;
$dark-gray-color: #999999;
$light-blue-color: #e2e8f0;





//==========================
// FONTS
//==========================

$fs-alpha: 36px;
$fs-beta: 60px;
$fs-gamma: 24px;
$fs-theta: 25px;
$fs-5: 14px;
$fs-6: 22px;
$fs-7: 26px;
$fs-8: 36px;
$fs-jumbo-2: 50px;
$fs-9: 20px;
$fs-11: 30px;
$fs-12: 16px;
$fs-13: 17px;
$fs-14: 18px;
$fs-15: 45px;
$fs-16: 12px;

//buttons
$fs-btn: $fs-5;
$fs-btn-landing: $fs-6;
$fs-btn-landing-big: $fs-gamma;

$fw-light: 100;
$fw-normal: 400;
$fw-semibold: 600;
$fw-bold: 800;

$ff-sans-serif: 'Proxima-Nova', sans-serif;


