---
description: "Honeypot is a Developer-Focused Job Platform. Companies apply to you with salary and tech stack upfront."
title: "Honeypot - The Developer-Focused Job Platform"
_options:
  partials:
    - app/partials/favicons.static.hbs
    - app/partials/meta_tags.static.hbs
    - app/partials/analytics_optout.static.hbs
    - app/partials/rollbar.static.hbs
    - app/partials/google_tag_manager.static.hbs
    - app/partials/optimizely.static.hbs
    - app/partials/navigation.static.hbs
    - app/partials/footer.static.hbs
    - app/partials/scripts.static.hbs
---
<html>
  <head>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <title>{{title}}</title>
    {{#if rollbar_token}}
      {{> rollbar rollbar_token=rollbar_token}}
    {{/if}}
    {{#if optimizely_id}}
      {{> optimizely optimizely_id=optimizely_id}}
    {{/if}}
    <link rel="stylesheet" href="{{url_base}}DIGEST(/app.css)">
    {{#if ga_id}}
      {{> analytics_optout ga_id=ga_id}}
    {{/if}}
    {{> favicons}}
    <meta charset="utf-8">
    <meta name="description" content="{{description}}" />
    {{> meta_tags}}
  </head>
  <body>
    {{#if gtm_id}}
      {{> google_tag_manager tracker=gtm_id}}
    {{/if}}
    <!-- TODO: flash -->
    {{> navigation logo=nav_logo class_name=header_class_name}}
    <main role="main">
      <div class="alert alert-warning u-no-margin text-center hide" id="flash-messages">
      </div>
      {{content}}
    </main>
    {{> footer class_name=footer_class_name}}
    {{> scripts}}
  </body>
</html>
