#cookie-bar {
  background: $light-gray-6-color;
  color: $dark-gray-color;
  position: fixed;
  z-index: $z-index-3;
  width: 100%;

  a {
    margin-left: 3px;

    &:hover {
      color: $dark-gray-2-color;
      text-decoration: underline;
    }
  }

  a,
  a:hover {
    font-weight: $fw-bold;
    color: $dark-gray-color;
  }

  span {
    margin-left: 50px;
  }

  .cb-enable {
    float: right;
    margin-right: 50px;
    font-size: $fs-8;
    font-weight: $fw-semibold;
    background: transparent;

    &:hover {
      background: transparent;
    }
  }

  .cb-policy {
    background: transparent;

    &:hover {
      background: transparent;
    }
  }
}
