#cookie-bar {
  background: $blue-color;
  color: $white-color;
  position: fixed;
  z-index: $z-index-3;
  width: 100%;
  padding: 8px 0;
  line-height: 18px;

  @media #{$sm-up} {
    padding: 15px 0;
  }

  a {
    margin-left: 3px;

    &:hover {
      color: $dark-gray-2-color;
      text-decoration: underline;
    }
  }

  a,
  a:hover {
    font-weight: $fw-bold;
    color: $white-color;
  }

  span {
    margin-left: 50px;
  }

  .cb-enable {
    margin-left: 50px;
    font-size: $fs-3;
    font-weight: $fw-semibold;
    background-color: $white-color;
    color: $blue-color;
    border-radius: 1px;
    padding: 8px 12px;

    &:hover {
      background: $blue-color;
      color: $white-color;
      border: 1px solid $white-color;
      padding: 7px 11px;
      text-decoration: none;
    }
  }

  .cb-policy {
    background: transparent;

    &:hover {
      background: transparent;
    }
  }
}
