#cookie-bar {
  background: $very-light-gray-color;
  color: $dark-gray-3-color;

  a {
    margin-left: 3px;

    &:hover {
      color: $dark-color;
      text-decoration: underline;
    }
  }

  a,
  a:hover {
    font-weight: $fw-bold;
    color: $dark-gray-3-color;
  }

  span {
    margin-left: $fs-jumbo-2;
  }

  .cb-enable {
    float: right;
    margin-right: $fs-jumbo-2;
    font-size: $fs-13;
    font-weight: $fw-semibold;
  }
}
