@mixin _position($position, $args) {
  @each $dir in top, left, bottom, right {
    $i: index($args, $dir);
    @if $i {
      #{$dir}: nth($args, $i + 1);
    }
  }
  position: $position;
}

@mixin absolute($args) {
  @include _position(absolute, $args);
}

@mixin relative($args) {
  @include _position(relative, $args);
}

@mixin fixed($args) {
  @include _position(fixed, $args);
}

@mixin sizing($args) {
  @if length($args) == 2 {
    width: nth($args, 1);
    height: nth($args, 2);
  } @else {
    width: $args;
    height: $args;
  }
}

@mixin circle($args) {
  @include sizing($args);
  border-radius: 50%;
}

@mixin text-sizing($font-size, $font-weight) {
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin text($fs, $fw, $color) {
  @include text-sizing($fs, $fw);
  color: $color;
}

@mixin property-md-up($prop-name, $value, $value-md-up) {
  #{$prop-name}: $value;

  @media #{$md-up} {
    #{$prop-name}: $value-md-up;
  }
}

@mixin quote-comission-decoration($before-top, $after-top) {
  position: relative;

  &::before {
    @include sizing(166px 263px);
    @include absolute(top $before-top left -200px);
    content: '';
    background-image: url(DIGEST('images/more-info-before.svg'));
  }

  &::after {
    @include sizing(181px 212px);
    @include absolute(top $after-top right -200px);
    content: '';
    background-image: url(DIGEST('images/more-info-after.svg'));
  }
}

@mixin checkbox-replacement($bg-path, $pos) {
  @include sizing(20px);
  float: left;
  cursor: pointer;
  background: url($bg-path) no-repeat;
  background-position: 0 $pos;
}

@mixin _steps-line($distance) {
  display: block;
  content: '';
  background-color: $light-blue-color;
  z-index: $z-index-steps-line;
}

@mixin steps-line-vertical($distance) {
  @include absolute(top 0 left ($distance / 2));
  @include sizing(1px 100%);
  @include _steps-line($distance);
}

@mixin steps-line-horizontal($distance) {
  @include absolute(top ($distance / 2) left 50%);
  @include sizing(100% 1px);
  @include _steps-line($distance);
}
